/* =============================================================================
   Base
   ========================================================================== */

body { 
	
	text-rendering: optimizeLegibility;
	

	
}



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 30px; }
body.admin-bar .navbar-fixed-top { top: 28px; }


.navbar-inner {
  min-height: 20px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;

  border-radius:0px;

}

.navbar .nav {
  float: right;
  padding-bottom: 10px;
}

.navbar i{
	float: left;
font-size: 18px;	
margin-top: 7px;
}


.navbar .brand {
  float: none;
  display: block;
  padding: 8px 20px 0px;
  margin-left: -20px;
  font-weight: normal;
  line-height: 1;
text-transform: uppercase;
	font-family: "LindenHillRegular";
	letter-spacing: 0.1em;
	font-size: 35px;
}

.navbar .nav > li > a {
  float: none;
  font-size: 13px;
  font-family: 'SortsMillGoudyRegular';
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  	letter-spacing: 0.3em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: lowercase;
}

/* =============================================================================
   Content
   ========================================================================== */

#content { }





/* =============================================================================
   Primary Content
   ========================================================================== */

#main { 
	
	margin-top: 80px;
	
}



/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }

.page-feature-image{
	
	max-height: 68%;
	
}


/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; }
.hentry p.byline { }
.hentry footer { clear: both; }

strong, b {
  font-weight: normal;

}

  
i, cite, em, var, address, dfn {
font-style: normal;
  font-family: 'SortsMillGoudyItalic';
}



/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */

#content-info {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

#content-info p small { font-size: 13px; }



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }

figure.alignnone { margin-left: 0; margin-right: 0; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
   /*  padding-top: 0; */
  }
}



/* =============================================================================
	Slideshow
   ========================================================================== */


/*
	#slides{
height: 420px;
overflow: hidden;
width: 420px;

}
*/

.slides_pagination {
  height: 48px;
/*   margin: 24px 0; */
}
.slides_pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  }
.slides_pagination li {
  display: inline;
}
.slides_pagination a {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 46px;
  text-decoration: none;
/*   border: 1px solid #ddd; */
/*   border-left-width: 0; */
}


.caption{
margin-top: 80px;

}

.caption p{
	
	font-family: "SortsMillGoudyRegular-LN";
	font-size: 90%;
}


#pagination_container{
/* margin-left: 650px; */
z-index: 100;
margin-top: 150px;
	position: absolute;
	float: right;
	
}

.current_image img{

box-shadow: 0px 0px 3px rgba(0,0,0,0.5);	
}

